
<section id="dashboard">
  <div class="chart-container">
    <app-first-chart></app-first-chart>
  </div>
  
  <div style="width: 100%; display: block">
    <!-- <app-area-chart></app-area-chart> -->
  </div>
  
  <br />
  <mat-divider></mat-divider>
  <br />
  
  <div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="20px"
    class="stats-cards"
  >
    <mat-card fxFlex="25"> <p>In Progress</p> </mat-card>
    <mat-card fxFlex="25"> <p>In Progress</p> </mat-card>
    <mat-card fxFlex="25"> <p>In Progress</p> </mat-card>
    <mat-card fxFlex="25"> <p>In Progress</p> </mat-card>
  </div>
  
  <br />
  <mat-divider></mat-divider>
  <br />
  
  <div>
    <div>Table</div>
    <div>Pie Chart</div>
  </div>

</section>